#root > * {
  max-width: 576px;
}

.Form {

input[type="radio"] {
  cursor: pointer;
  display: none;

  & + span {
    border: 1px solid #ccc0;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.1rem 0.25rem;
  }

  &:checked + span {
    border: 1px solid #eee;
    background-color: #ddd;
  }
}

&> *:last-child {
  margin-top: 2rem;
}

form > fieldset {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &[name="url"] {
    justify-content: space-between;
    flex-wrap: nowrap;

    input {
      width: 100%;
    }
  }

  &[name="params"] {
    display: none;
  }

  &[name="auth"] {
    align-items: flex-start;

    div { 
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid #ccc;
      padding: 0.5rem;
      gap: 0.5rem;
    }
  }

  &[name="method"] {
    flex-direction: row;
    justify-content: space-between;
  }

  &:last-of-type textarea {
    width: 100%;
    height: 5rem;
  }
}

table {
  width: 100%;
  text-align: center;

  tr {
    display: flex;
    justify-content: space-between;

    th {
      font-weight: normal;
    }

    td, th {
      width: 100%;
    }

    td button {
      width: 100%;
    }

    td:last-child span {
      display: flex;
    }
  }
}

}

@media screen and (max-width: 500px) {
  .Form {
    form > fieldset[name="method"] {
      display: flex;
      flex-direction: column;
    }

    form > fieldset[name="auth"] {
      flex-direction: column;

      &> div { width: auto }
    }
  }
}
